[submodule "l10n_do_rnc_search"]
	path = l10n_do_rnc_search
	url = git@github.com:xmarts/l10n_do_rnc_search.git
	branch = 15.0







[submodule "xmarts/declaraciones_dgii"]
	path = xmarts/declaraciones_dgii
	url = git@github.com:xmarts/declaraciones_dgii.git
	branch = v15-jun
